filebeat:
  # List of prospectors to fetch data.
  prospectors:
    # Each - is a prospector. Below are the prospector specific configurations
    -
      paths:
        - /var/log/syslog
        - "/var/log/mail.*"
        - "/var/log/kern.*"
        - "/var/log/news.*"
        - "/var/log/*.emerg"
        - "{{ elasticsearch_log_dir }}/*.log"
        - "{{ nginx_log_dir }}/*.log"
        - "{{ COMMON_LOG_DIR }}/tracking/*.log"

      input_type: log

output:

  ### Logstash as output
  logstash:
    # The Logstash hosts
    hosts: ["{{ LOGSTASH_HOST }}:{{ LOGSTASH_PORT }}"]
